
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/schools']">Schools</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/classrooms']">Class Rooms</a></li>
  <li class="breadcrumb-item active">Class Rooms Items</li>
</ol>


<div class="row" >
  <div class="col-md-5" >
    
    <div class="card card-outline-primary " [hidden]="isSelected">
      <div class="card-block">
        <table class="table table-sm table-bordered">
          <thead class="thead-default">
            <tr>
              <th>#</th>
              <th>School Name</th>
              <!-- <th>Class Count</th> -->
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of schoolList" [class.table-active]="s.$key == selectedKey">
              <td>
                <button (click)="selectSchool(s.$key)" class="btn btn-outline-primary btn-sm">
                  <i class="fa fa-arrow-right"></i> 
                </button>
              </td>
              <td>{{s.name}}</td>
              <!-- <td>{{s.classrooms?.length}}</td> -->
              <td>
                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-gears"></i> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>

          <div class="text-center">
            <footer>Select School above <cite title="Source Title">School count: {{schoolList?.length}}</cite></footer>
          </div>
        
      </div>
    </div>

    <div [hidden]="selClassRmKey">
        <div class="card card-outline-primary " [hidden]="!isSelected">
          <div class="card-block">
            <div class="row">
              <div class="col-sm-3">
                <button class="btn btn-outline-primary btn-sm" (click)="isSelected = !isSelected">
                  <i class="fa fa fa-backward"></i>
                  <span>Back</span>
                </button>
              </div>

              <div class="col-sm-9">
                <h4 class="card-title">{{selSchoolName}}</h4>
              </div>
              
            </div>

            <div class="row">
              <div class="col-12-sm">
                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                  <button class="btn btn-secondary btn-sm" (click)="isGradSchool = !isGradSchool" [hidden]="!isGradSchool">
                    <i class="fa fa fa-backward"></i>
                    <!-- <span>grade school</span> -->
                </button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('Kindergarten', 0)">K</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('1st Grade', 11)">1</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('2nd Grade', 12)">2</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('3rd Grade', 13)">3</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('4th Grade', 14)">4</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('5th Grade', 15)">5</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('6th Grade', 16)">6</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('7th Grade', 17)">7</button>
                  <button type="button" class="btn btn-secondary" [hidden]="isGradSchool" (click)="quickSave('8th Grade', 18)">8</button>

                  <button type="button" class="btn btn-secondary" [hidden]="!isGradSchool" (click)="quickSave('9th Grade',  209)">9</button>
                  <button type="button" class="btn btn-secondary" [hidden]="!isGradSchool" (click)="quickSave('10th Grade', 210)">10</button>
                  <button type="button" class="btn btn-secondary" [hidden]="!isGradSchool" (click)="quickSave('11th Grade', 211)">11</button>
                  <button type="button" class="btn btn-secondary" [hidden]="!isGradSchool" (click)="quickSave('12th Grade', 212)">12</button>

                  <button class="btn btn-secondary btn-sm" (click)="isGradSchool = !isGradSchool" [hidden]="isGradSchool">
                    <!-- <span>high school</span> -->
                    <i class="fa fa fa-forward"></i>
                </button>

                </div>
              </div>
              <br><br>
            </div>
            
            <table class="table table-sm table-bordered">
              <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>Class Room</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of classRmList" [class.table-active]="c.$key == selClassRmKey" >
                  <td>
                    <button (click)="selectClass(selectedKey, c.$key)" class="btn btn-outline-primary btn-sm">
                      <i class="fa fa-arrow-right"></i> 
                    </button>
                  </td>
                  <td>{{c.name}}</td>
                  <td>
                    <button (click)="delClassRm(c.$key)" class="btn btn-danger btn-sm">
                      <i class="fa fa-trash-o"></i> 
                    </button>
                  </td>
                </tr>

                
              </tbody>
            </table>

              <div class="text-muted" style="font-size: xx-small;">
                <footer>
                  <span> {{selSchoolName}} Key {{selectedKey}}  </span>
                  <br>
                  <span>Selected Class Room  Key: {{selClassRmKey}}</span>

                  <br>
                  <cite title="Source Title">Class Room count: 0</cite>
                </footer>
              </div>
            
          </div>
        </div> 
    </div>

   

    <div class="card card-outline-primary " [hidden]="!selClassRmKey">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-3">
             <button class="btn btn-outline-primary btn-sm" (click)="selClassRmKey = null">
              <i class="fa fa fa-backward"></i>
              <span>Back</span>
            </button>
          </div>

          <div class="col-sm-9">
            <h4 class="card-title">Item Master List</h4>
          </div>
          
        </div>

          <div class="row">
            <div class="col-12-sm">
              <input type="text" [(ngModel)]="search" name="search" id="search" class="form-control" placeholder="Item Search">
              <table class="table table-responsive table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Qty</th>
                      <th>#</th>
                      <th>Item Name</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                                                                   
                    <tr *ngFor="let i of itemList | filter:search" [class.table-active]="i.$key == selectedItem?.$key">
                      <th scope="row">
                        <button (click)="selectItem(i.$key)" class="btn btn-outline-primary btn-sm">
                            <i class="fa fa-arrow-right"></i> 
                          </button>
                      </th>
                      <th>
                        {{i.itemQty}}
                      </th>
                      
                      <td>{{i.itemName}}</td>
                      
                    </tr>
                  </tbody>
              </table>
            </div>
            <br><br>
          </div>
       
        

          <div class="text-muted" style="font-size: xx-small;">
            <footer>
              <span> {{selSchoolName}} Key {{selectedKey}}  </span>
              <br>
              <span>Selected Class Room  Key: {{selClassRmKey}}</span>

              <br>
              <cite title="Source Title">Class Room count: 0</cite>
            </footer>
          </div>
        
      </div>
    </div>    


  </div>


  <div class="col-md-7">
    
    <div class="row">
     
      <div class="col-sm-12" [hidden]="!isSelected">
        <div class="card">
          <img class="card-img-top" src="{{selSchoolImage}}" style="width:100%; height:200px;" alt="B2SL School Image for {{selSchoolName}}">
          <div class="card-block">
            <h2 class="card-title">{{selClassRmName}}</h2>
            <div class="row">
              <div class="col-sm-5">
                <p class="card-text text-muted">{{selClassRmNotes}}</p>    
              </div>
              <div class="col-sm-5">
                <input [(ngModel)]="updatedQty" type="text" class="form-control">
                
              </div>
              <div class="col-sm-2">
                <button (click)="setQty(selClassRoomItemKey )" class="btn btn-outline-primary">Go</button>
              </div>
            </div>
            
            <table class="table table-bordered table-sm table-hover">
                                                      
                <tr *ngFor="let i of classRmItemList | filter:search " [class.table-active]="i.$key ==  selClassRoomItemKey">
                   <td>
                    <button (click)="selectClassRoomItemkey(i.$key)"  class="btn btn-outline-primary btn-sm"  >
                      <i class="fa fa-arrow-right"></i> 
                    </button>
                  </td>
                  <td>
                      {{i?.qty}} {{i?.measure}}
                  </td>

                  <td>{{i.name}}	</td>
                  <td>
                    <button (click)="setItemType(i.$key, '1B ')"  class="btn btn-outline-secondary btn-sm" [hidden]="i.itemType == '1B '">
                      <i class="fa fa-male"></i> 
                    </button>
                    <button (click)="setItemType(i.$key, '1B ')"  class="btn btn-info btn-sm" [hidden]="i.itemType != '1B '">
                      <i class="fa fa-male"></i> 
                    </button>
                  </td>
                  <td>
                    
                    <button (click)="setItemType(i.$key, '2G ')"  class="btn btn-outline-secondary btn-sm"  [hidden]="i.itemType == '2G '"> 
                      <i class="fa fa-female"></i> 
                    </button>
                    <button (click)="setItemType(i.$key, '2G ')"  class="btn  btn-sm" style="color:white; background-color: deeppink" [hidden]="i.itemType != '2G '">
                      <i class="fa fa-female"></i> 
                    </button>
                  </td>

                  <td>
                    <button (click)="setItemType(i.$key,'3C ')"  class="btn btn-outline-secondary btn-sm" [hidden]="i.itemType == '3C '">
                      <i class="fa fa-graduation-cap"></i> 
                    </button>
                    <button (click)="setItemType(i.$key,'3C ')"  class="btn btn-success btn-sm" [hidden]="i.itemType != '3C '">
                      <i class="fa fa-graduation-cap"></i> 
                    </button>
                  </td>

                  <td>
                    <button (click)="setItemType(i.$key,'00 ')"  class="btn btn-outline-secondary btn-sm" [hidden]="i.itemType == '00 '">
                      <i class="fa fa-asterisk"></i> 
                    </button>
                    <button (click)="setItemType(i.$key,'00 ')"  class="btn btn-outline-primary btn-sm" [hidden]="i.itemType != '00 '">
                      <i class="fa fa-asterisk"></i> 
                    </button>
                  </td>


                  <td>
                    <button (click)="delItem(i.$key)"  class="btn btn-outline-danger btn-sm">
                      <i class="fa fa-trash-o"></i> 
                    </button>
                  </td>
                  
              </tr>
       
            </table>
            <span class="text-center text-muted" style="font-size: x-small;">Key: {{selClassRmKey}}</span>
            <br>
            <span class="text-center text-muted" style="font-size: x-small;">Key: {{selClassRoomItemKey}}</span>
          </div>
        </div>
      </div>
    </div>
  
    <hr>
  
  </div>

</div>