<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item active"><a >Home</a></li>
  <li class="breadcrumb-item "> <a [routerLink]="['/schools']">Schools</a>  </li>
  <li class="breadcrumb-item "> <a [routerLink]="['/classrooms']">Class Rooms</a> </li>
</ol>

<div >
  <div class="row" >
        <div class="col-md-4">
          <div class="card">
            <h3 class="card-header">
              <i class="fa fa-building "></i>
              Schools</h3>
            <div class="card-block">
              <div class="row">
                <div class="col-sm-10">
                  <p class="card-text">
                    B2SL School Maint
                  </p>
                  
                  <span>Schools Count: 0</span>
                </div>
              </div>
              <br>
              <a [routerLink]="['/schools']" class="btn btn-outline-primary btn-block">Go</a>
            </div>
          </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <h3 class="card-header">
            <i class="fa fa-graduation-cap "></i>
            Classes</h3>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-10">
                <p class="card-text">
                  B2SL Class Maint
                </p>
                
                <span>Class Count: 0</span>
              </div>
            </div>
            <br>
            <a [routerLink]="['/classrooms']" class="btn btn-outline-primary btn-block">Go</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <h3 class="card-header">
            <i class="fa fa-list "></i>
            Items</h3>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-10">
                <p class="card-text">
                  B2SL Class Maint
                </p>
                
                <span>Class Count: 0</span>
              </div>
            </div>
            <br>
            <a [routerLink]="['/classitems']" class="btn btn-outline-primary btn-block">Go</a>
          </div>
        </div>
      </div>
      
  </div>
 
  </div>

  <hr>
  <br><br>

  <div class="row" >
    <div class="col-md-6">
        <div class="card card-outline-success">
          <h3 class="card-header card-success text-white">
            <i class="fa fa-list-ol "></i>
            System Items
        </h3>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-10">
                <p class="card-text">
                  Master List of Items used for Class Room Items
                </p>
                
                <span>System Items Count: 0</span>
              </div>
            </div>
            <br>
            <a [routerLink]="['/masteritems']" class="btn btn-outline-primary btn-block">Go</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-outline-success">
          <h3 class="card-header card-success text-white">
            <i class="fa fa-safari "></i>
            System Links and Web Sites
        </h3>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-10">
                <p class="card-text">
                  Master List of Web Sites
                </p>
                
                <span>Web Site Count: 0</span>
              </div>
            </div>
            <br>
            <a href="#" class="btn btn-outline-primary btn-block">Go</a>
          </div>
        </div>
      </div>
  </div>

</div>